body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  // padding: 10px

div.logo
  background: #222
  padding: 6px 10px
  display: table
  margin-bottom: 25px
  h1
    font-weight: 900
    margin: 0
    padding: 0
    font-size: 22px
    line-height: 20px

    color: #fff
    span
      display: block
      font-weight: 800
      font-size: 14px
      // text-transform: uppercase

// #components-layout-demo-side
//   .logo
//     height: 32px
//     margin: 16px
//     background: rgba(255, 255, 255, 0.3)

.sider
  padding: 10px 0 0 12px
  background: #fff!important
