body {
    font-size: 14px;
}

table {
    font-size: 13px;
}

table td {
    position: relative;
    min-width: 340px;
    /*padding: 0px !important;*/
    /*vertical-align: middle !important;*/
    white-space:nowrap;
}

table tr {
    /*height: 48px !important;*/
}

table tr td:first-of-type {
    min-width: 40px!important;
}

table td.edit {
    padding: 0 10px !important;
}

table td input {
    /*border: 1px solid #ccc!important;*/
    height: 43px;
    width: 100%;
}

td div {
    display: none;
    content: '';
    position: absolute;
    right: 15px;
    top: 8px;
    background: dodgerblue;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    transition: all .3s;

}

td:hover > div {
    display: block;
}

table td div:hover {
    cursor: pointer;
    background: yellowgreen;
}

.menu {
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline-block;
    margin-right: 15px;
}

.menu li a.active {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

button.delete {
    font-size: 11px;
    padding: 2px 5px;
}

input[type=checkbox] {
    user-select: none;
}

label {
    user-select: none;
}

small.invalid-feedback {
    display: block !important;
}

span.generatedResultLabel {
    margin-left: 20px;
    margin-bottom: 0!important;
}